body {
    color: white;
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    background-color: MidnightBlue
}

h1 {
    font-size: 1.25em;
    font-style: italic;
}

td {
    text-align: center
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#contactType {
    min-width: 16em;
    width: 100%;
}
